---
title: Chinook
layout: master
---

<h1>Nouvelles</h1>

<div align="center" style="background:#000;width:350px; height:260px;font:0px sans-serif;text-align:left;">
     <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="cdtw" width="350" height="240" style="outline:none">
     <param name="movie" value="http://countingdownto.com/c/w.swf" />
     <param name="flashvars" value="eid=449091" />
     <param name="allowscriptaccess" value="always" />
     <param name="bgcolor" value="#000000" />
     <embed name="cdtw" src="http://countingdownto.com/c/w.swf" flashvars="eid=449091" type="application/x-shockwave-flash" width="350" height="240" allowscriptaccess="always" bgcolor="#000000" style="outline:none">
     </embed>
     </object><br/>
     <a href="http://countingdownto.com" style="font:bold 8px Arial;padding-left:19px;color:#444;">COUNTDOWN CLOCK WEBSITE</a>
</div>

<div align ="center" class="fb-like-box" 
     data-href="http://www.facebook.com/chinookets" 
      data-show-faces="true" 
      data-width="600"
     data-stream="true" 
     data-header="false" style="width:100%"></div>
{% for post in site.posts %}
  {% if post.category != 'project' %}
  <div class="row">
    <div class="span12">
      {% if post.heading %}
      <img src="{{ post.heading }}" />
      {% endif %}
      <a href="{{ post.url }}"><p class="lead">{{ post.title }}<small class="muted"> le {{ post.date | date_to_string }}</small><p></a>
      <p>
      {{ post.content | truncatewords:40}}
      </p>
      <hr/>
      <a href="{{ post.url }}"> plus >>> </a>
   </div>
  </div>
  {% endif %}
  {% endfor %}
