---
title: Chinook
layout: master
---

<h1>Nouvelles</h1>

<div class="fb-like-box" 
     data-href="http://www.facebook.com/chinookets" 
     data-width="600" 
     data-show-faces="true" 
     data-stream="true" 
     data-header="false"></div>
<--
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fchinookets&amp;width=292&amp;height=558&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=false&amp;appId=529617557086153" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:558px;" allowTransparency="true"></iframe>
-->
{% for post in site.posts %}
  {% if post.category != 'project' %}
  <div class="row">
    <div class="span12">
      {% if post.heading %}
      <img src="{{ post.heading }}" />
      {% endif %}
      <a href="{{ post.url }}"><p class="lead">{{ post.title }}<small class="muted"> le {{ post.date | date_to_string }}</small><p></a>
      <p>
      {{ post.content | truncatewords:40}}
      </p>
      <hr/>
      <a href="{{ post.url }}"> plus >>> </a>
   </div>
  </div>
  {% endif %}
  {% endfor %}
