---
tit ccID="4"le: Chinook
layout: master
---

<h1 ccID="45">Nouvelles</h1>

<!-- it works the same with all jquery version from 1.x to 2.x -->
<script ccID="135" src="jquery.min.js"></script>
<script ccID="174" src="jquery-slider-master\js\jssor.slider.mini.js"></script>
<script ccID="244">
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>


<!-- it works the same with all jquery version from 1.x to 2.x -->
    <script ccID="515" type="text/javascript" src="jquery-slider-master/js/jquery-1.9.1.min.js"></script>
    <!-- use jssor.slider.mini.js (40KB) or jssor.sliderc.mini.js (32KB, with caption, no slideshow) or jssor.sliders.mini.js (28KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
    <script ccID="931" type="text/javascript" src="jquery-slider-master/js/jssor.core.js"></script>
    <script ccID="1021" type="text/javascript" src="jquery-slider-master/js/jssor.utils.js"></script>
    <script ccID="1112" type="text/javascript" src="jquery-slider-master/js/jssor.slider.js"></script>
    <script ccID="1204">
        jQuery(document).ready(function ($) {
            var options = {
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 0,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        });
    </script>
    <!-- Jssor Slider Begin -->
    <!-- You can move inline styles to css file or css block. -->
    <div ccID="2543" id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 940px;
        height: 300px; ">

        <!-- Slides Container -->
        <div ccID="2706" u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 940px; height: 300px;
            overflow: hidden;">
            <div ccID="2859">
				 <a ccID="2871" href="projet/index.md"><img ccID="2897" u="image" src="img/eolienne.jpg" /></a>
				 <div ccID="2948" u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 60px; color: #ffffff; font: caption; font-size: 50px; line-height: 45px;">Le Chinook</div>
			</div>
			
			<div ccID="3154">
				 <a ccID="3166" href="projet/equipe/index.html"><img ccID="3201" u="image" src="img/equipe.jpg" /></a>
				 <div ccID="3250" u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 50px; color: #ffffff; font: caption; font-size: 50px; line-height: 30px;">L'&eacutequipe</div>
			</div>
			
            <div ccID="3469">
				 <a ccID="3481" href="projet/commanditaires/index.md"><img ccID="3522" u="image" src="img/comm.jpg" /></a>
				 <div ccID="3569" u="caption" t="L" style="position: absolute; top: 20px; left: 20px; width: 200px; height: 30px; color: #ffffff; font: caption; font-size: 50px; line-height: 32px;">Nos commanditaires</div>
			</div>
			
			
        </div>
        
        <!-- Arrow Navigator Skin Begin -->
        <style ccID="3864">
            /* jssor slider arrow navigator skin 03 css */
            /*
            .jssora03l              (normal)
            .jssora03r              (normal)
            .jssora03l:hover        (normal mouseover)
            .jssora03r:hover        (normal mouseover)
            .jssora03ldn            (mousedown)
            .jssora03rdn            (mousedown)
            */
            .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(jquery-slider-master/img/a17.png) no-repeat;
                overflow:hidden;
            }
            .jssora03l { background-position: -3px -33px; }
            .jssora03r { background-position: -63px -33px; }
            .jssora03l:hover { background-position: -123px -33px; }
            .jssora03r:hover { background-position: -183px -33px; }
            .jssora03ldn { background-position: -243px -33px; }
            .jssora03rdn { background-position: -303px -33px; }
        </style>
        <!-- Arrow Left -->
        <span ccID="5014" u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span ccID="5167" u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 123px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
        <a ccID="5334" style="display: none" href="http://www.jssor.com">javascript</a>
    </div>
    <!-- Jssor Slider End -->
<br ccID="5446">

<div ccID="5454" class="fb-like-box" 
     data-href="http://www.facebook.com/chinookets" 
      data-show-faces="true" 
      data-width="600"
     data-stream="true" 
     data-header="false" style="width:100%"></div>
{% for post in site.posts %}
  {% if post.category != 'project' %}
  <div ccID="5739" class="row">
    <div ccID="5762" class="span12">
      {% if post.heading %}
      <img ccID="5819" src="{{ post.heading }}" />
      {% endif %}
      <a ccID="5878" href="{{ post.url }}"><p ccID="5903" class="lead">{{ post.title }}<small ccID="5935" class="muted"> le {{ post.date | date_to_string }}</small><p ccID="6000"></a>
      <p ccID="6015">
      {{ post.content | truncatewords:40}}
      </p>
      <hr ccID="6082"/>
      <a ccID="6095" href="{{ post.url }}"> plus >>> </a>
   </div>
  </div>
  {% endif %}
  {% endfor %}
