---
layout: master
---

<div class="row">
    <div class="span3">
            <ul class="nav nav-list">
                <li><a href="#">Le projet</a></li>
                <li><a href="#">L'équipe</a></li>
                <li><a href="#">Les commanditaires</a></li>
                <li class="divider"></li>
                <li class="nav-header">Années passées</li>
                <li><a href="#">2011-2012 - Chinook 2</a></li>
                <li><a href="#">2010-2011 - Chinook 1</a></li>
            </ul>     
        </div>
    <div class="span8">

      {{ content }}

     </div>
</div>